<div class="section">
    <div class="container">
      <div class="content-section">
        <div class="title">
          <h1>How it Works</h1>
        </div>
        <div class="content">
          <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, ut ipsum. 
             Dolorum asperiores nulla mollitia laudantium tempora exercitationem architecto odit,
             culpa officia beatae magni fugit eaque? Id illum consequuntur est?</p>
          <br>
          <h3>&#x2022; Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, repellendus.</h3>
          <br>
          <h3>&#x2022; Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, repellendus.</h3>
          <br>
          <h3>&#x2022; Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, repellendus.</h3>
          <br>
          <h3>&#x2022; Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, repellendus.</h3>
            
        </div>
        
      </div>
      <div class="image-section">
        <img src="../../../assets/imgs/work.jpg" alt="">
      </div>
    </div>
  </div>