<!-- <div class="container">
    <div class="card" *ngFor="let cd of cardData; index as i">
        <div class="lines"></div>
        <div class="imgBx">
            <img src="{{cd.source}}"/>
        </div>
        <div class="content">
            <div class="details">
                <h2>{{cd.heading}}</h2>
                <p> {{cd.details}} </p>
                <a href="#">Read more</a>
            </div>
        </div>
    </div>
    
</div> -->
<div class="container">
    <div class="card">
        <img src="../../../assets/imgs/ele.jpg" alt="elephant">
        <div class="intro">
            <h1>Elephant</h1>
            <p>The <span>Elephant</span> is a large animal Lorem ipsum dolor sit amet, consectetur adipisicing. Lorem ipsum dolor sit amet consectetur adipisicing.</p>

        </div>
    </div>
    <div class="card">
        <img src="../../../assets/imgs/ele.jpg" alt="elephant">
        <div class="intro">
            <h1>Elephant</h1>
            <p>The <span>Elephant</span> is a large animal Lorem ipsum dolor sit amet, consectetur adipisicing. Lorem ipsum dolor sit amet consectetur adipisicing.</p>

        </div>
    </div>
    <div class="card">
        <img src="../../../assets/imgs/ele.jpg" alt="elephant">
        <div class="intro">
            <h1>Elephant</h1>
            <p>The <span>Elephant</span> is a large animal Lorem ipsum dolor sit amet, consectetur adipisicing. Lorem ipsum dolor sit amet consectetur adipisicing.</p>

        </div>
    </div>
</div>